<h1 style="font-size: 18px, font-weight: bolder;">Thơ: Đặng Minh Mai</h1>
<br>

<div>
    <p style="line-height: 0.5;">Nắng dần tắt trên con đường nhỏ</p>
    <p style="line-height: 0.5;">Dáng mẹ gầy giẹo giọ liêu xiêu</p>
    <p style="line-height: 0.5;">Mẹ về để nấu cơm chiều</p>
    <p style="line-height: 0.5;">Bữa cơm đạm bạc thương yêu ấm lòng</p>
    <p style="line-height: 0.5;">Cả đời mẹ long đong vất vả</p>
    <p style="line-height: 0.5;">Cho chồng con quên cả thân mình</p>
    <p style="line-height: 0.5;">Một đời mẹ đã hy sinh</p>
    <p style="line-height: 0.5;">Tuổi xuân phai nhạt nghĩa tình đượm sâu</p>
    <p style="line-height: 0.5;">Mưa và nắng nhuộm màu tóc trắng</p>
    <p style="line-height: 0.5;">Bụi gian nan đọng lắng nếp nhăn</p>
    <p style="line-height: 0.5;">Rụng rồi thương lắm hàm răng</p>
    <p style="line-height: 0.5;">Lưng còng chân yếu ánh trăng cuối trời</p>
    <p style="line-height: 0.5;">Tình của mẹ sáng ngời dương thế</p>
    <p style="line-height: 0.5;">Lo cho con tấm bé đến già</p>
    <p style="line-height: 0.5;">Nghĩa tình son sắt cùng cha</p>
    <p style="line-height: 0.5;">Giản đơn dung dị mẹ là mẹ thôi</p>
    <p style="line-height: 0.5;">Con đi khắp chân trời góc bể</p>
    <p style="line-height: 0.5;">Ân tình nào sánh xuể mẹ yêu</p>
    <p style="line-height: 0.5;">Nghĩa dày độ lượng bao nhiêu</p>
    <p style="line-height: 0.5;">Có trong lòng mẹ sớm chiều bao dung.</p>
</div>